@import '../font/AvenirNextCondensed.ttc';
@import '../font/AvenirNext.ttc';
@import '../font/Avenir.ttc';

:root { 
  --white: #ffffff; 
  --grey: #686868; 
  --black: #000000; 
  --red: #d22f26; 
  --subtitle1: 700 1.09375rem/normal 'Avenir Next'; 
  --headline1: 700 1.708984375rem/normal 'Avenir Next'; 
  --button: demi bold 0.699999988079071rem/normal 'Avenir Next'; 
  --body1-demibold: demi bold 0.875rem/1.5rem 'Avenir Next'; 
  --body1-regular: 400 0.875rem/1.5rem 'Avenir Next'; 
  --body2-demibold: demi bold 0.699999988079071rem/normal 'Avenir Next'; 
  --body2-regular: 400 0.699999988079071rem/normal 'Avenir Next'; 
}

@font-face{
  src: url('../font/AvenirNext.ttc');
  font-family: Avenir Next;
}
 
body {
  font: var(--body1-regular);
background: black;
color: white;
margin: 0;
}

.header {
  padding: 15px;
z-index: 2;
background-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
}

.navigation-item {
list-style: none;
text-align: center;
}

.navigation {
  padding: 0;
  margin: 0;
  display: grid;
grid-auto-columns: 100px;
grid-auto-flow: column;
justify-content: space-around;
}

h1{
  font: var(--headline1);
  color: var(--red);
}

h2{
  font: var(--button);
  color: var(--grey);
}

,featured {
  margin-top: -90px;
}
,featured-details {
  border: 1px solid red;
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-image: linear-gradient(to top, black, transparent 100%);
}

.tags {
  border: 1px solid yellow;
  display: flex;
  padding: 0;
}


.tag:before {
  content: "*";
margin-right: 10px;
position: relative;
top: 2px;
}

.tag:first-child:before  {
display: none;
}

.featured-actions {
  display: flex;
  justify-content: space-evenly;
align-items: center;
padding-bottom: 2px;
}


.button {
  border: 1px solid blue;
}

.button-secundary {
  border: 1px solid red;
background: none;
color: white;
}

.button-secundary::before {
  content:"";
  display:block;
  border: 1px solid green;
width: 25px;
height: 25px;
margin: auto;
}

.icon-plus::before {
  background: url();
}


